<%= form_for(@writing) do |f| %>
  <% if @writing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@writing.errors.count, "error") %> prohibited this writing from being saved:</h2>

      <ul>
      <% @writing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Writing Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body, "Writing Body" %>
    <%= f.text_area :body %>
  </div>
  <% if current_user %>
    <div class="field">
      <div class="row">
        <div class="large-1 columns">
          <%= f.check_box :global_r, { :checked => "checked" } %>
        </div>
        <div class="large-11 columns">
          <%= f.label :global_r, "This writing should be globally viewable." %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <div class="large-1 columns">
          <%= f.check_box :friends_r, { :checked => "checked" } %>
        </div>
        <div class="large-11 columns">
          <%= f.label :friends_r, "This writing should be seen by friends." %>
        </div>
      </div>
    </div>
    <blockquote>
      <p>
      Writings marked <em>globally viewable</em> and <em>friend
        un-viewable</em> will, indeed, be viewable by everyone except your
      friends. This also means, however, that your friends could potentially
      log-out and view these writings, giving them an avenue to deduce that 
      you are the author (elementary, my dear).
      </p>
      <p>
      TL;DR: If you don't want friends to know you wrote this, consider 
      logging-out and posting it anonymously.
      </p>
    </blockquote>
  <% else %>
    <blockquote>
      <p>
        You are currently not logged in, but that shouldn't stop you from 
        creating a writing!
      </p>
      <p>
        Do note, however, that if you save this writing anonymously, you will
        not be able to edit it later on, and your writing will be viewable by
        everyone.
      </p>
      <p>
        You can also <%= link_to 'log in', login_path %> if you like.
      </p>
    </blockquote>
  <% end %>
  <div class="actions">
    <%= 
      f.submit([
        "I present my gift to the internet.",
        "A masterpiece...to my mother.",
        "Well, that's as good as it's going to get.",
        "My magnum opus is complete."
      ].sample)
    %>
  </div>
<% end %>
