<h1>New writing</h1>

<% if current_user %>
  <% # logged in %>
  <p>You are logged in as <%= current_user.username %>. <%= link_to 'Log out.', logout_path %></p>
<% else %>
  <% # anonymous %>
  <p>
    You are currently not logged in.  Note that if you save this writing
    anonymously, you won't be able to edit it later, and your writing will
    be world viewable. <%= link_to 'Log in', login_path %>
  </p>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', writings_path %>
<%= link_to 'Home', root_path %>
