<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @writing.title %>
</p>

<p>
  <b>Body:</b>
  <%= simple_format @writing.body %>
</p>

<p>
  <b>Global r:</b>
  <%= @writing.global_r %>
</p>

<p>
  <b>Friends r:</b>
  <%= @writing.friends_r %>
</p>

<p>
  <b>Author:</b>
  <%= @writing.author_id %>
</p>


<%= link_to 'Edit', edit_writing_path(@writing) %> |
<%= link_to 'Back', writings_path %>
