<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2 class="writing-title"><%= @writing.title %></h2>

<p class="writing-author">by
  <%=
    if @writing.author_id == 0
      'anonymous'
    else
      User.find( @writing.author_id).name
    end
  %>
</p>

<div class="writing-content"><%= simple_format @writing.body %></div>

<% if current_user && current_user.id == @writing.author_id %>
  <%= link_to 'Edit', edit_writing_path(@writing) %><br />
  <p>
    this writing can be seen
    <% if @writing.global_r %>
      by everyone<% if !@writing.friends_r %> except friends<% end %>
    <% elsif @writing.friends_r %> 
      by friends only 
    <% else %>
      by nobody
    <% end %>
  </p>
<% end %>

<%= link_to 'Back', writings_path %>
