<h2>Sign up</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error">
      <p>Some things went astray:</p>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= 
    f.submit([ 
        "Sign me up, cap'n.",
        "Better get this over with.",
        "What have I got to lose, (beyond my dignity)?",
        "Monkey click the button now.",
        "Who dares, wins."
      ].sample)
  %></p>
<% end %>
