<h2>your page</h2>

<ul id="profile">
  <li>outgoing friend requests
    <p>
      <% if @outgoing_friend_requests.empty? %>
        <ul><li>nothing here</li></ul>
      <% else %>
        <ul>
        <% @outgoing_friend_requests.each do |friend_request| %>
          <li>
            <%= friend_request.friend_id %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </p>
  </li>

  <li>incoming friend requests
    <p>
      <% if @incoming_friend_requests.empty? %>
        <ul><li>couldn't find any</li></ul>
      <% else %>
        <ul>
        <% @incoming_friend_requests.each do |friend_request| %>
          <li>
            <%= friend_request.user_id %><br />
            <%= link_to "Approve", friendship_url( :id => friend_request.user_id) %> |
            <%= link_to "Decline", friendships_url( :id => friend_request.user_id), :method => :delete %> 
          </li>
        <% end %>
        </ul>
      <% end %>
    </p>
  </li>

  <li>legit friends
    <p>
      <% if @real_friends.empty? %>
        <ul><li>you are friendless (sorry)</li></ul>
      <% else %>
        <ul>
        <% @real_friends.each do |friend| %>
          <li>
            <%= friend.username %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </p>
  </li>

  <li>my writings
    <p>
      <% if @writings.empty? %>
        <ul><li>no writings yet, why don't you 
          <%= link_to 'make one', new_writing_path %>?</li></ul>
      <% else %>
        <ul>
        <% @writings.each do |writing| %>
          <li>
            <%= writing.title %><br /> 
            <%= link_to 'View', writing %>&nbsp;or&nbsp;
            <%= link_to 'Edit', edit_writing_path(writing) %>&nbsp;or&nbsp; 
            <%= link_to 'Remove', edit_writing_path(writing) %>
          </li>
        <%end %>
        </ul>
      <% end %>
    </p>
  </li>

</ul>
