<h1>my profile page</h1>

<h2>my profile information</h2>
<% # ... profile stuff %>
<%= link_to "Edit Profile" %>

<h2>outgoing friend requests</h2>
<ul>
<% @outgoingfriendrequests.each do |outfriendrequest| %>
  <li>
    <%= outfriendrequest.friend_id %>
  </li>
<% end %>
</ul>

<h2>incoming friend requests</h2>
<ul>
<% @incomingfriendrequests.each do |infriendrequest| %>
  <li>
    <%= infriendrequest.user_id %><br />
    <%= link_to "Approve", friendship_url( :id => infriendrequest.user_id) %> |
    <%= link_to "Decline", friendships_url( :id => infriendrequest.user_id), :method => :delete %> 
  </li>
<% end %>
</ul>

<h2>legit friends</h2>
<ul>
<% @realfriends.each do |realfriend| %>
  <li>
    <%= realfriend.user_id %> and <%= realfriend.friend_id %>
  </li>
<% end %>
</ul>

<h2>my writings</h2>
<ul>
<% @writings.each do |writing| %>
  <li>
    <%= writing.title %>
  </li>
<% end %>
