<h1>My control page</h1>

<h2>My profile information</h2>
<% # ... profile stuff %>
<%= link_to "Edit Profile" %>

<h2>Outgoing friend requests</h2>
<ul>
<% @outgoingfriendrequests.each do |outfriendrequest| %>
  <li>
    <%= outfriendrequest.friend_id %>
  </li>
<% end %>
</ul>

<h2>Incoming friend requests</h2>
<ul>
<% @incomingfriendrequests.each do |infriendrequest| %>
  <li>
    <%= infriendrequest.user_id %>
  </li>
<% end %>
</ul>

<h2>My friends</h2>
<ul>
<% @realfriends.each do |realfriend| %>
  <li>
    <%= realfriend.id %>
  </li>
<% end %>
</ul>

<h2>My writings</h2>
<ul>
<% @writings.each do |writing| %>
  <li>
    <%= writing.title %>
  </li>
<% end %>
