<h1>This is Matt's poetry application.</h1>

<h2>User Menu</h2>
<ul>
  <li><%= link_to 'Sign up', signup_path, class: "btn btn-large btn-primary" %></li>
  <% if current_user %>
    <li><%= link_to 'Log out', logout_path %></li>
    <li><%= link_to 'My page', control_path %></li>
  <% else %>
    <li><%= link_to 'Log in', login_path %></li>
  <% end %>
  <li><%= link_to 'Write', 'writings/new' %></li>
</ul>

<h2>Latest Writings</h2>

<ul>
  <% @latestwritings.each do |writing| %>
    <li>
      <%= link_to writing.title, writing %><br />
      <%= 
        if writing.author_id == 0 
            'anonymous'
        else
            User.find( writing.author_id).name 
        end
      %>
    </li>
  <% end %>
</ul>

<h2>Random Writing</h2>

<h3><%= @awriting.title %></h3>
<h4>by 
  <%= 
    if @awriting.author_id == 0
      'anonymous'
    else
      User.find( @awriting.author_id).name
    end
  %>
<p><%= simple_format @awriting.body %></p>

<h2>Static Pages Link</h2>

