<%= render "layouts/header" %>

<div class="row">

  <div id="sidebar" class="large-4 columns">
    <%= render "layouts/sidebar" %>
  </div>

  <div id="main" class="large-8 columns">
    <div id="status" class="row">
      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :h5, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
    </div>
    <div id="content" class="row">
      <%= yield %>
    </div>
  </div>

</div>

<%= render "layouts/footer" %>  
