<%= render "layouts/header" %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<div class="container">

  <div class="four columns">
    <%= render "layouts/sidebar" %>
  </div>

  <div class="twelve columns">
    <%= yield %>
  </div>

</div>

<%= render "layouts/footer" %>
